/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/*html { overflow: hidden; height: 100%; }
body { overflow: auto; height: 100%; }
*/

body {
	background: #fff;
	font: 85% "Courier", serif;
	color: #959595;
	font-weight: normal;
	overflow: scroll;
	min-height: 1000px;
}

h1 {
	font-family: "letter-gothic-std", "Courier", serif;
	font-size: 130%;
	color: #f26522;
}

h3 {
	font-family: "letter-gothic-std", "Courier", serif;
	color: #f26522;
}

h2, h4 {
	font-family: "letter-gothic-std", "Courier", serif;
	color: #000;
}

#contentLoadArea {
	margin-top: 40px;
}

#rotate {
	z-index: 0;
}

strong {
	font-weight: bold;
}

p {
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 30px;
}

header {
	height: 466px;
}

footer {
	margin-top: 20px;
	margin-bottom: 20px;
}

#allToggle {
	display: none;
}

#nav {
	font-family: "letter-gothic-std";
	font-size: 120%;
	padding-top: 0;
	background-color: #fff;
	margin-bottom: 20px;
	height: 50px;
	z-index: 1;
}

#nav li {
	position: relative;
	top: 16px;
}

#nav li a.active {
	color:#fff;
	background-color: #f26522;
	padding: 5px;

}

#hand {
	position: absolute;
	left:-120px;
	/*display: none;*/
}

#content {
	display:none;
	min-height: 450px;
}

#backToWork {
	display: none;
	position: relative;
	right: -760px;
	top: 80px;
	font-size: .75em;
	text-decoration: none;
	z-index: 0;
}

#backToWork a:link, #backToWork a:visited {
	color: #959595;
}

#projectHoverArea {
	/*position:relative;*/
}

#navContainer {
	background-color: #f00;
}

.project-hover {
	display: none;
	z-index: 99;
}

.projectLink {
	/*height: 200px;*/
}

#logoSmaller {
	display: none;
	/*position: relative;*/
/*	top: -5px !important;
*/}

.tabsTwo {
	/*background-color: #eaeaea;*/
	padding: 10px;
	margin-left: -10px !important;
}

.tabsThree {
	/*background-color: #eaeaea;*/
	padding: 10px;
	margin-left: 0;
}

#navContent li {
/*	background-color: #f00;
*/}

#dirt-tag {
	position: absolute;
	top: 300px;
	right: -80px;
	z-index: 99;
	/*left: 500px;*/
	/*top: 325px;*/
}

.hover-thing {
	/*border: 1px solid #f00;*/
	background: url('../img/orange_line.png') no-repeat;	
}

.caption {
	padding: 10px;
	font-size: .75em;
	background-color: #ebebeb;
}

/*#content {
 background-color :#f00;

}

#navContent {
	background-color: #0f0;
}*/
/* #Tabs (activate in tabs.js)
================================================== */

ul.tabs {
	text-align: center;
	margin-top: 20px;
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: solid 1px #ddd;
}

ul.tabs li {
	list-style: none;
	text-align: left;
	display: inline-block;
	height: 30px;
	padding: 0;
	/*float: left;*/
	margin-bottom: 0; 
}

ul li {
	font-weight: normal;
}

ul li a {
	color: #666;
	cursor: pointer;
	text-decoration: none;
	font-weight: normal;
}

ul li a:hover, ul a.active {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}


ul li a.active {
	text-decoration: bold;
	/*border-left: 5px solid #f26522;
	padding-left: 5px;
	margin-left: -10px;*/
}

ul li ul li a.active:before {
	position: absolute;
	content: url(../img/hand.png);
	left: 5px;
}


ul.tabs-content { margin: 0; display: block; }
ul.tabs-content > li { display:none; }
ul.tabs-content > li.active { display: block; }

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
ul.tabs:after {
  clear: both; }
ul.tabs {
  zoom: 1; }


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/