
body {
	background: #fff;
	font: 85% "Courier", serif;
	color: #959595;
	font-weight: normal;
	/*overflow: scroll;*/
	min-height: 2000px;
}

a:link, a:visited {
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	/*border: 1px solid #f00;*/
/*	border-collapse: separate;
	border-spacing: 5px;*/
	font-size:12px;
}

table .project-link {
	/*color: #f26522;*/
}

.project {
	color: #f26522;
}

tr {
	border-bottom: 1px solid #eaeaea;
}

td {
	/*border: 1px solid #0f0;*/
	padding: 5px 10px 5px 10px;
}

th {
	font-weight: bold;
	text-align: left;
	color: #000;
	padding: 5px 10px 10px 10px;
}

h1 {
	/* project name header */
	font-family: "letter-gothic-std", "Courier", serif;
	font-size: 1.4em;
	margin: 0 0 5px 0;
	color: #f26522;
}

h2 {
	/* project detail section header */
	font-family: "letter-gothic-std", "Courier", serif;
	color: #000000;
	font-size: 1em;
	line-height: 1.6em;
	margin-bottom: .5em;
}

h3 {
	font-family: "letter-gothic-std", "Courier", serif;
	color: #000;
	line-height: 1em;
	font-size: 1em;
}

h4 {
	/*font-family: "letter-gothic-std", "Courier", serif;*/
	color: #000;
}

h5 {
	/* press/studio section header */
	font-family: "letter-gothic-std", "Courier", serif;
	font-size: 1em;
	margin: 0 0 10px 0;
	color: #f26522;
}

h6 {
	font-family: "Courier", serif;
	font-weight: bold;
	line-height: 1em;
	color: #000;
}

.title, .location {
	font-style: italic;
}

.venue {
	font-weight: bold;
}


.rotate {
	z-index: 0;
}

strong {
	font-weight: bold;
}

p {
	font-weight: normal;
	/*margin-top: 10px;*/
	margin-bottom: 20px;
	line-height: 1.5em;
	font-size: 12px;
}

header {
	height: 466px;
}

footer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.fixed {
	position: fixed;
}

.all-toggle {
	display: none;
}

.nav {
	font-family: "letter-gothic-std";
	font-size: 1.4em;
	padding-top: 0;
	background-color: #fff;
	/*margin-bottom: 20px;*/
	height: 50px;
	z-index: 1;
}

.nav li {
	position: relative;
	top: 16px;
	/*background-color: #eaeaea;*/
}

.nav li a.active {
	color:#fff;
	background-color: #f26522;
	padding: 5px 5px 3px 5px;

}

.content {
	display:none;
	min-height: 450px;
}

.back-to-work {
	font-family: "letter-gothic-std", "Courier", serif;
	display: none;
	position: relative;
	right: -760px;
	top: 35px;
	font-size: .75em;
	text-decoration: none;
	z-index: 0;
}

a.back-to-work:link, a.back-to-work:visited {
	color: #666;
}

a.back-to-work:hover {
	text-decoration: none;
	color: #000000;
}

.project-hover {
	display: none;
	z-index: -1;
}

.dirt-tag {
	position: absolute;
	top: 300px;
	/*right: -100px;*/
	left: 650px;
	z-index: 99;
}

.black-line {
	position: relative;
	left: -295px;
	top: -13px;
}

.hover-thing {
	background: url('../img/orange_line.png') no-repeat;	
}


/* #Tabs (activate in tabs.js)
================================================== */

ul.tabs {
	text-align: center;
	margin-top: 20px;
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
}

ul.tabs li {
	list-style: none;
	text-align: left;
	display: inline-block;
	height: 30px;
	padding: 0;
	/*float: left;*/
	margin-bottom: 0; 
}

ul li {
	font-weight: normal;
}

ul li a {
	color: #666;
	cursor: pointer;
	text-decoration: none;
	font-weight: normal;
}

ul li a:hover, ul a.active {
	color: #000;
	text-decoration: none;
	font-weight: normal;
}


ul li a.active {
	text-decoration: bold;
		/*content: url(../img/hand.png);*/

	/*border-left: 5px solid #f26522;
	padding-left: 5px;
	margin-left: -10px;*/
}


/*#categories li a.active:before, #press-categories li a.active:before {
	position: absolute;
	content: url(../img/hand.png);
	left: 5px;
}*/

/*#categories li a.active {
	list-style-image: url(../img/hand.png)
}*/

ul.tabs-content { margin: 0 0 70px 0; display: block; }
ul.tabs-content > li { display:none; }
ul.tabs-content > li.active { display: block; }

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
ul.tabs:after {
  clear: both; }
ul.tabs {
  zoom: 1; }


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* project detail styles
================================================== */

.caption {
	padding: 10px;
	background-color: #ebebeb;
	width: 780px;
}

.caption p {
	color: #757575;
	margin-bottom: 10px;
}

.caption p:last-child {
	margin-bottom: 0px;
}

.caption-side {
	position: relative;
	padding: 10px;
	background-color: #ebebeb;
	width: 260px;
	float: left;
	margin: 100px -50px 10px 0px;
	z-index: 1;
}

.caption-side p {
	color: #757575;
	margin-bottom: 10px;
}

.caption-side p:last-child {
	margin-bottom: 0px;
}

.caption-nobox {
	padding-top: 10px;
	width: 800px;
}

.caption-side-nobox {
	padding: 10px;
	width: 260px;
	float: left;
	margin: 60px 0px 10px 0px;
}

.project-image {
	margin: 60px 0px 10px 0px;
}

.project-image-left {
	float: left;
	margin: 60px 20px 10px 0px;
}

.project-image-right {
	margin: 60px 0px 10px 20px;
}

h2.place-date {
	margin-bottom: 20px;
}

.firstImg {
	margin: 30px 0px 10px 0px;
}

span.captionTitle {
	font-weight: bold;
}


/* publications styles
================================================== */

.publication-title {
	font-weight:bold;
}


/* gigs styles
================================================== */

.press-p {
	margin: 10px 0px 10px 0px;
	line-height: 1.5em;
}


/* misc styles
================================================== */


ul.tabs-content li {
	font-size:12px;
	margin-bottom:3px;
}

ul.tabs-content a {
	color: #959595;
}

h2.section {
	margin-top: 30px;
}

.thumb-container {
	margin-top:1px;
}

.thumb-container p {
	margin-top: 10px;
}

.thumb-container img {
	margin-bottom: 10px;
}

.thumb-title {
	font-family: "letter-gothic-std", "Courier", serif;
	color: #f26522;
	line-height: 1em;
	font-size: 12px;
	font-weight: bold;
}

.thumb-place {
	font-family: "letter-gothic-std", "Courier", serif;
	color: #000;
	line-height: 1em;
	font-size: 10px;
	font-weight: bold;
}

ul.tabsThree li {
	color: #cccccc;
}

h5.press-section {
	margin: 60px 0px 10px 0px;
}

h2.press-section {
	margin-top:30px;
}

h2.press-section2 {
	margin-top:60px;
}

h5.peeps-name {
	line-height:1.8em;
}

span.peeps-title {
	color: #000;
}
